/* PRELOADER CSS */
#load-curtain {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: white;
    display: none;
}
#load-curtain .icon {
    background-image: url(infinity.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    margin-top: -50px;
}





/* JUST SOME OTHER CSS TO MAKE DEMO PRETTY */
code {
    background-color: #eaeaea;
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid #d4d4d4;
}